.hidden-login-container {
  background-color: #ffff;
  width: 250px;
  height: 250px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25%;
  right: -360px;
  transform: translateY(-50%);
  z-index: 1000;
  &.show {
    right: 10px;
  }

  h6 {
    color: #0c3954;
    font-size: 26px;
  }
  input {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #ffb028;
    border-radius: 10px;
    outline: none;
  }

  button {
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #ffb028;
    border: none;
    font-size: 16px;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
  }
  p {
    color: #0c3954;
    font-size: 14px;
    padding-left: 18px;
  }
}
