.second-section {
  width: $second-container-wth;
  margin: $second-container-mar;
  section#trends {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    .txt {
      .title {
        color: #0b3954;
        font-size: 12px;
      }
      h5 {
        font-size: 48px;
        color: #0b3954;
      }
      p {
        font-size: 16px;
        color: #5c676d;
      }
      button {
        color: #ffff;
        font-size: 14px;
        border-radius: 80px;
        background-color: #ffb128;
        border: none;
        padding: 15px 30px 15px 30px;
        cursor: pointer;
      }
    }
  }
}
